<main>
    <!-- Buscador de insumos -->
    <div class="search-bar">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar insumo por nombre"
      />
    </div>
  
    <!-- Tabla de stock -->
    <div class="table-responsive">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th scope="col">Insumo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad</th>
            <th scope="col">Última actualización</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Carne vacuna</td>
            <td>25</td>
            <td>Kg</td>
            <td>2025-09-08</td>
            <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-outline-primary btn-sm">Actualizar</button>
            </td>
          </tr>
          <tr>
            <td>Harina</td>
            <td>10</td>
            <td>Kg</td>
            <td>2025-09-07</td>
            <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-outline-primary btn-sm">Actualizar</button>
            </td>
          </tr>
          <tr>
            <td>Huevos</td>
            <td>60</td>
            <td>Unidades</td>
            <td>2025-09-08</td>
            <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-outline-primary btn-sm">Actualizar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  