<main>
    <!-- Buscador de usuarios -->
    <div class="search-bar">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar usuario por nombre o rol"
      />
    </div>
  
    <!-- Tabla de usuarios -->
    <div class="table-responsive">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Administrador</td>
            <td>admin&#64;rotiseria.com</td>
            <td>Admin</td>
            <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-outline-primary btn-sm">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>Empleado 1</td>
            <td>empleado1&#64;rotiseria.com</td>
            <td>Operador</td>
            <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-outline-primary btn-sm">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>Empleado 2</td>
            <td>empleado2&#64;rotiseria.com</td>
            <td>Operador</td>
            <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-outline-primary btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  