<main>
    <div class="card p-4">
      <h2 class="text-center mb-2">Iniciar sesión</h2>
      <hr class="divider mx-auto mb-4" />
  
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="usuario@ejemplo.com"
            required
          />
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="••••••••"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-3">
          Entrar
        </button>
        <div class="text-center">
          <a routerLink="registro">¿No tienes cuenta? Regístrate</a>
        </div>
      </form>
    </div>
  </main>
  